.select2-container {
    width: 100%;

    .select2-choice {
        height: 30px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        border: 1px solid #ccc;
        background-image: none;

        .select2-arrow {
            border-left: 0;
            background-image: none;
            background-color: transparent;
        }
    }
}
.select2-container-multi {
    .select2-choices {
        height: 34px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        border: 1px solid #ccc;
        background-image: none;

        .select2-search-field input {
            height: auto;
        }
        li.select2-search-choice {
            margin: 4px 0 4px 5px;
        }
        .select2-search-choice {
            background-image: none;
            background-color: #f3f3f3;
        }
    }
}
.select2-choices {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
}
.select2-results {
    padding: 0 0 0 0;
    margin: 0;

    .select2-highlighted {
        background: var(--yafowil-accent-color, #0d6efd);
        color: var(--yafowil-accent-font-color, #fff);
    }
    .select2-result-label {
        padding: 5px 7px;
    }
    .select2-no-results, .select2-searching, .select2-selection-limit {
        padding: 3px 6px;
        font-size: 12px;
        background-color: var(--yafowil-accent-color, #0d6efd);
        color: var(--yafowil-accent-font-color, #fff);
        border-radius: 0 0 3px 3px;
    }
}
.select2-search {
    padding: 0;

    input {
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
    }
}
.select2-dropdown-open .select2-choice {
    background-color: #f9f9f9;
}